.App {
  text-align: center;
}

@font-face {
  font-family: Dancing Script;
  src: url(../public/fonts/DancingScript-VariableFont_wght.ttf);
}
.Heading {
  text-align: center;
  font-family: Dancing Script;
}

.pombe {
  font-size: x-large;
  display: flex;
  word-spacing: 10px;
  font-weight: 400;
  min-width: 400px;
  margin: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}

.logo1 {
  margin-top: 10px;
}

.shop-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 150px;
}

.shop-item {
  border: 1px solid #ece6e6;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
  /* Add transition for a smooth effect */
  transition: transform 0.3s ease-in-out;
}

/* Add a hover effect for the image */
img:hover {
  /* Apply a scaling effect on hover */
  transform: scale(1.1);
}

.error-message {
  color: red;
}
