.App {
  text-align: center;
}

@font-face {
  font-family: Dancing Script;
  src: url(../public/fonts/DancingScript-VariableFont_wght.ttf);
}
.Heading {
  text-align: center;
  font-family: Dancing Script;
}

